@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl leading-11 font-almarai font-bold mb-3;
}

h2 {
  @apply text-2xl leading-11 font-almarai font-bold mb-2;
}

h3 {
  @apply text-175 leading-10 text-josa-blue-oxfordBlue font-almarai font-bold;
}

h4 {
  @apply text-xl mr-5 font-almarai leading-9;
}

h5 {
  @apply text-lg text-josa-blue font-bold font-almarai;
}

p {
  @apply leading-8 text-xl text-josa-blue-veryDark font-almarai;
}

.button {
  @apply inline-block text-white text-base font-bold rounded-md border-2 border-solid border-white px-3 py-3 my-4 font-almarai break-words leading-8;
}

.button:hover {
  color: rgba(255, 255, 255, 0.7)
}

.button-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-light {
  @apply bg-josa-blue;
}

.button-disabled {
  @apply bg-josa-grey-500 !important;
}

.button-disabled:hover {
  @apply text-white !important;
}

.blue-line::after {
  margin-top: 5px;
  content: "";
  width: 120px;
  border-bottom: solid 5px theme('colors.josa.blue');
  display: block;
}

.contact-card {
  @apply w-full flex flex-col bg-white p-0 rounded-md;
}

.contact-card .below {
  @apply flex flex-col h-full;
}

.contact-card .description {
  @apply flex-grow;
}

.colorabove {
  @apply h-5 w-full m-0 p-0 rounded-md rounded-b-none mb-0;
}

.tooltip {
  @apply relative;
}

.tooltip-text {
  @apply p-2 w-full absolute z-10 bg-josa-black text-white text-center rounded-md opacity-75;
  top: 102%;
  right: 0;
}

.tooltip:hover .tooltip-text {
  @apply visible;
}

.fa-icon {
  @apply ml-2;
}

/* purgecss start ignore */
/* Zammad form */
.zammad-form {
  @apply text-josa-blue-oxfordBlue;
}

.zammad-form label {
  @apply hidden;
}

.zammad-form .form-control {
  @apply text-josa-blue-oxfordBlue border border-solid rounded p-3;
  border-color: rgba(43, 41, 45, 0.2);
}

.zammad-form .form-control[type="file"] {
  @apply border-none px-0;
}

.zammad-form button {
  @apply bg-josa-blue inline-block text-white rounded-md px-6 py-2 font-almarai;
}

.zammad-form button:hover {
  color: rgba(255, 255, 255, 0.7)
}

/* Zammad Chat */
.zammad-chat {
  text-align: left;
  font-family: 'Almarai';
}

.zammad-chat-agent-status::before {
  margin-right: 0;
  margin-left: 0.3rem;
}

.zammad-chat-message--agent {
  text-align: left;
}

.zammad-chat-agent-name {
  font-size: 1rem;
}

.zammad-chat-message-body {
  @apply font-almarai;
}

.zammad-chat-icon {
  float: right;
}

.zammad-chat-welcome-text {
  display: inline-block;
  font-weight: bold;
}

.zammad-chat-input {
  @apply font-almarai text-right !important;
}

/* purgecss end ignore */

.below,
.contact-card button,
.contact-card a.button {
  min-width: 110px;
}

.below {
  padding: 1rem;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

}


/* sm */
@screen sm {

  .below,
  .contact-card button,
  .contact-card a.button {
    min-width: 140px;
  }
}

/* md */
@screen md {

  .below {
    padding: 2rem;
  }

  .below,
  .contact-card button,
  .contact-card a.button {
    min-width: 140px;
  }

  p {
    @apply text-xl;
  }
}

/* lg */
@screen lg {
  .below {
    padding: 3rem;
  }

  .below,
  .contact-card button,
  .contact-card a.button {
    min-width: 200px;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

}

/* xl */
@screen xl {
  .button {
    @apply text-lg mx-0;
  }

  .below,
  .contact-card button,
  .contact-card a.button {
    width: 100%;
  }


  p {
    @apply text-xl;
  }

  .below {
    max-width: 450px;
  }
}
